.transaction-history {
  border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);

  &__name {
    background-color: rgb(0, 188, 212);
    width: 290px;
    height: 50px;
    font-size: 13px;
    font-family: 'HelveticaNeueCyr';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.308;
  }

  &__tr {
    &:nth-child(odd) {
      background-color: #ecf2f3;
    }

    &:nth-child(even) {
      background-color: #fff;
    }
  }

  &__td {
    text-align: center;
    font-size: 15px;
    font-family: 'HelveticaNeueCyr';
    color: rgb(92, 105, 117);
    line-height: 2;
  }
}
